<div id="container" class="container thumb-container">
    <div class="common-inner">
        <div class="my-profile-area">
            <app-my-profile></app-my-profile>
        </div>
        <div class="thumb-view">
            <ul class="thumb-list">
                <li class="thumb-item"><img src="/assets/images/img-dummy1.JPG" alt=""></li>
                <li class="thumb-item" onclick="openViewModal()"햣><img src="../../../assets/images/img-dummy2.JPG" alt=""></li>
                <li class="thumb-item"><img src="/assets/images/img-dummy3.JPG" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
                <li class="thumb-item"><img src="https://via.placeholder.com/640" alt=""></li>
            </ul>
        </div>
        <div class="pagination-area"></div>
    </div>
</div>
