.feed-item {
  margin-top: 32px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: #fff;

  .feed-header { 
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid $border-color;
    font-weight: 700;
    .user-img {
      margin-right: 8px;
      width: 32px;
      border-radius: 100%;
    }
  }

  .feed-body {
    padding: 16px 16px 0;
    .feed-img {
      display: block;
      margin: -16px -16px 0;
      width: calc(100% + 32px);
    }

    .feed-like {
      display: flex;
      align-items: center;
      padding: 16px 0 8px;
      .btn-like {
        display: block;
        width: 24px;
        height: 24px;
        font-size: 0;
        background-image: url('../../assets/images/ico-heart.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        &.is-active {
          background-image: url('../../assets/images/ico-heart-fill.svg');
        }
      }
      .like-count {
        margin-left: 8px;
        font-weight: 700;
      }
    }

    .feed-txt {
      word-break: break-all;
      .tag {
        color: mix(black, $primary, 10%);
      }
    }

    .feed-date {
      margin-top: 8px;
      font-size: 10px;
      opacity: 0.5;
    }
  }

  .feed-footer {
    padding: 12px 16px 16px;

    .comment-area {
      margin-bottom: 16px;
      .comment-item {
        margin-top: 4px;
      }
      b {
        margin-right: 4px;
      }

    }
    
    .comment-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 16px;
      border-top: 1px dashed $border-color;
    }

    .comment-input {
      margin-right: 16px;
      flex: 1;
    }
  }
}