<div id="container" class="container write-container">
    <div class="common-inner">
        <div class="form-content">
        <div class="img-preview-area">
            <!-- 사진 추가 전  -->
            <label for="img-upload" class="txt-preview">여기를 눌러 이미지를 등록하세요.</label>

            <!-- 사진 추가 후 -->
            <!-- <img src="../../assets/images/img-dummy1.JPG" alt="" class="img-preview"> -->
        </div>
        <div class="form-area">
            <input id="img-upload" class="form-file" type="file">
            <textarea class="form-textarea" placeholder="사진에 대한 설명을 적어주세요."></textarea>
            <button class="btn-large btn-solid-primary">등록</button>
        </div>
        </div>
    </div>
</div>
