<div class="feed-item">
    <div class="feed-header">
        <a href="../../docs/page/view-thumb.html" class="flx-ac"><img src="../../../assets/images/img-user.png" alt="" class="user-img">잔망루피</a>
    </div>
    <div class="feed-body">
        <img class="feed-img" src="../../../assets/images/img-dummy1.JPG" alt="">
        <div class="feed-like">
            <button class="btn-like">응원해요</button>
            <span class="like-count">첫번째로 응원하기</span>
        </div>
        <p class="feed-txt"></p>
        <p class="feed-date">2021. 4. 17.</p>
    </div>
    <div class="feed-footer">
        <div class="comment-form">
            <input class="comment-input" type="text" placeholder="댓글을 입력하세요.">
            <button class="btn-comment color-primary" disabled>게시</button>
        </div>
    </div>
</div>
