<div id="container" class="container list-container">
    <div class="common-inner flx-sb">
        <div class="example-container">
            <button (click)="scriptError();">
                Script Error
            </button>
            <button (click)="serverError();">
                Server Error
            </button>
            <button (click)="openSnackBar();">
                Open Snack Bar
            </button>
            <button (click)="showSpinner();">
                Show Spinner
            </button>
            
        </div>
    </div>
</div>
