
// 검색 페이지
.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/images/ico-search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  @include pc-style {
    margin: 20px 0 60px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    &::before {
      top: 8px;
      width: 32px;
      height: 32px;
    }
  }
  .search-input {
    position: relative;
    padding-left: 32px;
    margin: 0 auto;
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid $gray1;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
    @include pc-style {
      padding-left: 60px;
      font-size: 40px;
    }
  }
}

.search-result-area {
  .no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    font-size: 14px;
    @include pc-style {
      min-height: 500px;
      font-size: 16px;
    }
  }
}