<div id="container" class="container list-container">
    <div class="common-inner flx-sb">
        <div class="feed-list">
            <div class="feed-item-area">
                <!-- feed-item.html 의 내용 -->
                <app-feed-item *ngFor="let feed of feeds" [feed]="feed"></app-feed-item>
            </div>
            <div class="pagination-area">
                <app-pagination (pageChange)="onPageChange($event)"></app-pagination>
            </div>
        </div>

        <div class="my-profile-area">
            <app-user-profile [profile]="userProfile"></app-user-profile>
        </div>
    </div>
</div>
