
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $gnb-height;
    border-bottom: 1px solid $border-color;
    background-color: #fff;
    z-index: 1;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.gnb-list {
    display: flex;
    align-items: center;
    &[data-login="true"] {
        .menu-write,
        .menu-user,
        .menu-search {
            display: block;
        }
    }
    &[data-login="false"] {
        .menu-login,
        .menu-signup {
            display: block;
        }
    }
}

.gnb-item {
    display: none;
    margin-left: 16px;
}

.gnb-link {
    img {
        display: block;
        width: 26px;
    }
}

.menu-user {
    .user-img {
        padding: 2px;
        width: 32px;
        border-radius: 100%;
        border: 1px solid $gray1;
    }
}

