@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './src/assets/scss/utils/_variables';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* 순서 중요!! 미디어쿼리가 다른 임포트 파일보다 위에 있어야 합니다 */
@mixin mobile-style {
    @media (max-width: $breakpoint - 1) {
        @content;
    }
}

@mixin pc-style {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin wide-style {
    @media (min-width: $wide-breakpoint) {
        @content;
    }
}

// IE10+ 적용
@mixin ie-style {
    @media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin btnDefault($padding, $width, $height, $font, $weight: 500) {
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0 $padding;
    min-width: $width;
    height: $height;
    border-radius: 4px;
    border: 0;
    line-height: normal;
    font-style: normal;
    font-size: $font;
    font-weight: $weight;
    transition: background-color 0.25s, border 0.25s;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    outline: none;
    user-select: none;
    &:disabled {
      cursor: not-allowed;
    }
}

.btn-large {
    @include btnDefault(24px, 100%, 48px, 16px, 700);
}

.btn-medium {
    @include btnDefault(20px, 100px, 40px, 14px);
}

.btn-small {
    @include btnDefault(8px, 56px, 32px, 12px);
}

.btn-large,
    .btn-medium,
    .btn-small {
    &.no-min-w {
        min-width: auto;
    }
}

@mixin btnStyle($color) {
    background-color: $color;
    color: #fff;
    &:not(:disabled){
        &:hover,
        &:focus {
        background-color: mix(black, $color, 8%);
        color: #fff;
        }
    }
    &:disabled {
        opacity: 0.3;
    }
}

.btn-solid-primary {
    @include btnStyle($primary);
}

.btn-solid-gray {
    @include btnStyle($gray1);
}

.btn-solid-red {
    @include btnStyle($red);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $gray7;
    #footer {
        margin-top: auto;
    }
}

.common-inner {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 980px;
    width: 100%;
}

.container {
    padding-top: 24px + $gnb-height;
    padding-bottom: 60px;
    min-height: calc(100vh - #{$m-footer-height});
    @include pc-style {
        min-height: calc(100vh - #{$footer-height});
        padding-top: 40px + $gnb-height;
        padding-bottom: 100px;
    }
}

.mgt8 { margin-top: 8px; }
.mgt12 { margin-top: 12px; }
.mgt16 { margin-top: 16px; }
.mgt20 { margin-top: 20px; }
.mgt24 { margin-top: 24px; }
.mgt32 { margin-top: 32px; }
.mgt40 { margin-top: 40px; }

.mgb8 { margin-bottom: 8px; }
.mgb12 { margin-bottom: 12px; }
.mgb16 { margin-bottom: 16px; }
.mgb20 { margin-bottom: 20px; }
.mgb24 { margin-bottom: 24px; }
.mgb32 { margin-bottom: 32px; }
.mgb40 { margin-bottom: 40px; }

// flex
.flx { display: flex; }
.flx-jc { display: flex; justify-content: center; align-items: center; }
.flx-ac { display: flex; align-items: center; }
.flx-sb { display: flex; justify-content: space-between; }

// border
.bd-top { border-top: 1px solid $gray5; }
.bd-bottom { border-bottom: 1px solid $gray5; }

// background
.bg-white { background-color: #fff; }
.bg-gray1 { background-color: $gray1; }
.bg-gray7 { background-color: $gray7; }
.bg-primary { background-color: $primary; }

// font-size
.fz10 { font-size: 10px; }
.fz14 { font-size: 14px; }
.fz20 { font-size: 20px; }
.fz24 { font-size: 24px; }

// font-style
.underline { text-decoration: underline; }

// font-weight
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw700 { font-weight: 700; }

// color
.color-white { color: #fff; }
.color-black { color: #000; }
.color-gray1 { color: $gray1; }
.color-gray2 { color: $gray2; }
.color-gray3 { color: $gray3; }
.color-gray4 { color: $gray4; }
.color-gray5 { color: $gray5; }
.color-gray6 { color: $gray6; }
.color-gray7 { color: $gray7; }
.color-primary { color: $primary; }

// text-align
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }

// overflow
.overflow-auto { overflow: auto; }

// box-shaodw
.box-shadow { box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }

body {
    line-height: normal;
    font-family: $font-default;
    font-size: 14px;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden {
    display: none !important;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
        color: inherit;
    }
}

img {
    display: block;
    width: 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

select,
input,
textarea,
button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &::-ms-expand {
        display: none;
    }
}

input, textarea {
    font-family: $font-default;
    border: 0;
    &:focus {
        outline: none;
    }
    &::placeholder {          /* Chrome, Safari, Firefox */
        color: $f-placeholder-color;
        opacity: 1;
    }
    &:-ms-input-placeholder { /* IE, Edge */
        color: $f-placeholder-color;
        opacity: 1;
    }
    &[readonly],
    &:disabled {
        &::placeholder {          /* Chrome, Safari, Firefox */
            color: rgba($gray2, 0.5);
            opacity: 1;
        }
        &:-ms-input-placeholder { /* IE, Edge */
            color: rgba($gray2, 0.5);
            opacity: 1;
        }
    }
    &::-ms-clear,
    &::-ms-reveal {            /* IE, Edge */
        display: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

fieldset {
    border: 0;
    min-width: 0;
}

legend {
    display: none;
}

.form-inner {
    width: 100%;
}

.form-container {
    display: block;
    margin: 0 auto;
    padding: 32px 20px;
    max-width: 360px;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: #fff;
    @include pc-style {
        padding: 32px;
    }
}

.form-title {
    margin-bottom: 32px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: $gray1;
}

.form-textarea,
.form-input {
    display: block;
    padding: 0 16px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $f-bd-color;
    background: $f-bg-color;
    font-size: 14px;
    color: $f-txt-color;
    &::placeholder {            /* Chrome, Safari, Firefox */
        color: $f-placeholder-color;
    }
    &:-ms-input-placeholder {   /* IE, Edge */
        color: $f-placeholder-color;
    }
    &::-ms-clear,
    &::-ms-reveal {             /* IE Input 태그 안 x 버튼 없애기 */
        display: none;
    }

    &:not([readonly]):not(:disabled):not(.error) {
        &:hover {
            border-color: $f-bd-hover-color;
        }

        &:focus {
            border-color: $f-bd-focus-color;
        }
    }

    // (주의) :read-only는 IE에서 적용되지 않습니다.
    &[readonly] {
        background-color: $f-bg-readonly-color;
        cursor: default;
    }

    &:disabled {
        background-color: $f-bg-disabled-color;
        color: $f-txt-disabled-color;
        cursor: not-allowed;
    }

    &.error {
        border-color: $error-color;
        color: $error-color;
        & + .txt-error {
            display: block;
        }
    }
}

.form-textarea {
    padding: 16px;
    height: 200px;
}

.txt-error {
    margin-top: 8px;
    font-size: 14px;
    color: $error-color;
}

// page style
.pagination-list {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    @include pc-style {
      margin-top: 60px;
    }
}

.pagination-item {
    margin: 0 8px;
    &.first, &.prev, &.next, &.last {
      flex-shrink: 0;
      button:not(:disabled):hover {
        text-decoration: underline;
      }
    }
}

.pagination-link {
    transition: all 0.35s;
    &:hover {
      text-decoration: underline;
    }
    &.is-active {
      font-weight: 700;
      color: $primary;
    }
}
